@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-3">
    <h1>Welcome</h1>
    <h1>COMPASS TRAVEL</h1>
</div>

<script src="https://kit.fontawesome.com/71b57b593d.js" crossorigin="anonymous"></script>

<div class="text-center">

    <i class="fa-solid fa-compass fa-spin fa-10x"> </i>

</div>
